[submodule "qx/carpo/source/qooxdoo"]
	path = qx/carpo/source/qooxdoo
	url = https://github.com/qooxdoo/qooxdoo.git
[submodule "qx/carpo/source/resource/carpo/ace-builds"]
	path = qx/carpo/source/resource/carpo/ace-builds
	url = git@github.com:ulrichSchreiner/ace-builds.git
