<div >

<div class="modal-header" >
  <h3>Editor</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
	<div class="control-group">
	  <label class="control-label" for="editorFontSize">Fontsize</label>
    <div class="controls">
      <input type="number" min="8" step="1" id="editorFontSize" placeholder="Font size" ng-model="data.fontSize">
    </div>
	  <label class="control-label" for="editorHideFiles">Hide Files</label>
    <div class="controls">
      <input type="text" id="editorHideFiles" placeholder="editorHideFiles" ng-model="data.hidefiles">
    </div>
  </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

</div>
