<div id="content" snap-content snap-options="snapOpts">
<div >
	<ul class="breadcrumb">
		<li><i snap-toggle="left" class="icon-align-justify"></i><span class="divider"></span></li>
	  <li>
			<div class="btn-group">
			  <a class="btn" ng-click="chabs($index)"><i class="icon-folder-open"></i> {{data.root+"/"}}</a>
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
			  <ul class="dropdown-menu">
			    <li><a ng-click="resetRoot()">Reset</a></li>
			  </ul>
			</div>
		</li>
		<li ng-repeat="pe in workspace.pathentries | filter:filterPathElement">
			<div class="btn-group">
			  <a class="btn" ng-click="chabs($index)">{{pe}}</a>
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
			  <ul class="dropdown-menu">
			    <li><a ng-click="changeRoot($index)">Set as root</a></li>
			  </ul>
			</div>
		</li>
	</ul>
	<div class="btn-toolbar" id="dirEntriesToolbar">
  <div class="btn-group">
    <a class="btn" ng-click="createFile()" title="New File"><i class="icon-file"></i></a>
    <a class="btn" ng-click="createFolder()" title="New Folder"><i class="icon-folder-close"></i></a>
  </div>
</div>
	<div id="dirEntries">
        <div ng-repeat="e in workspace.entries | filter: displayFile | orderBy:['-dir','name']">
          <i ng-show="e.dir" class="icon-folder-close"></i><i ng-hide="e.dir" class="icon-file"></i> <span ng-click="selectFileElement(e.name,e.dir)">{{e.name}}</span>
				 <div class="dropdown" style="float:right;">
				   <a class="dropdown-toggle"><i class="icon-remove"></i></a>
					 <div style="padding:10px;text-align:center;" class="dropdown-menu"><div>Delete '{{e.name}}'?</div><button ng-click="deleteFileElement(e)" class="btn btn-success" type="button">Yes</button></div>
				 </div>
        </div>
    </div>
<div id="editor">
<div style="line-height:25px; height:25px; position:relative;">
	<button ng-repeat="f in openfiles" ng-class="{true:'btn btn-primary',false:'btn'}[f.path==currentfile.path]" class="btn" type="button" ng-click="selectFile(f)" title="{{f.path}}">
		<span ng-show="f.dirty">* </span>{{f.title}} <i ng-click="closeFile(f)" class="icon-remove"></i>
	</button>
</div>
<div ng-show="currentfile!=null" ng-model="currentfile.content" ui-ace="{
  useWrapMode : true,
  showGutter: true,
  theme:'twilight',
  mode: 'golang',
  onLoad: aceLoaded,
  onChange: aceChanged
}"></div>
</div>
<pre id="output">{{currentfile.buildresult}}</pre>
</div>
<div style="position:absolute;bottom:0;width:100%;z-index:100;">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
</div>
<div snap-drawer="left">
<ul class="nav nav-list">
  <li class="nav-header">Settings</li>
  <li><a ng-click="editorSettings()">Editor</a></li>
  <li><a href="#">Library</a></li>
</ul>
</div>
