<div >

<div class="modal-header" >
  <h3>Tools</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="control-group">
	<label class="control-label" for="gotool">Standard Go Tool</label>
    <div class="controls">
      <input type="text" id="gotool" placeholder="Path to 'go' tool" ng-model="data.go">
    </div>
	<label class="control-label" for="goapptool">Appengine Go Tool</label>
    <div class="controls">
      <input type="text" id="goapptool" placeholder="Path to 'goapp' tool" ng-model="data.goapp">
    </div>
    <label class="control-label" for="goselector">Build type</label>
    <div class="controls">
        <select required ng-model="data.apptype" ng-options="n as l for (n,l) in apptypes"></select>
    </div>
  </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

</div>